.buy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy > * {
    padding: 20px 60px;
}

.nt-container {
    max-width: 33vw;
}


.bottle-img img{
    position: relative;
    bottom: 18%;
    min-width: 160px;
    max-width: 300px;
}

.details {
    background-color:#0f0f0f;
    background-image: url('../assets/card-bg.svg') ;
    height: 83vh;
    width: 90vw;
}

.navbar {
    margin-bottom: 30px;
}

.region {
    margin: 35px 10px;
}